.author-container {
  display: grid;
  padding-top:100px;
  grid-column-gap: 20px;
  max-width:800px;
  margin:15px auto;
  grid-template-columns: 200px auto;
  grid-template-row: auto;
  grid-template-areas:
  "photo name"
  "photo authDescr"
  "photo contact"
  'titleBio titleBio'
  "bio bio"
  'titleContr titleContr'
  "articleList articleList";
  
}

.author-photo {
  grid-area: photo;
  padding:28px 15px 0 15px;
}

.logo-links {
  padding:10px 5px 0 10px;
  width:25px;
  transition:ease-out;
}

.logo-links:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.author-photo-frame {
  width:150px;
  height:auto;
  border-radius: 120px;
  border: 1px solid #ddd;
  padding:5px;
}

.author-name {
  grid-area: name;
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  padding:0 15px 0 15px;
  text-decoration: underline;
  text-decoration-color: var(--heading-color);
}

.author-name h1 {
  margin-block-end: 0;
  font-size:37px;
}

.single-author-description {
  grid-area: authDescr;
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  padding:0 15px 0 15px;
  
}

.author-contact {
  grid-area: contact;
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  padding:0 15px 0 15px;
  font-size:14px;
}


.fa-chrome{
  font-size:1.7em;
}

.fa-envelope{
  font-size:1.5em;
}

.author-contact a:hover,
.author-articles a:hover {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  transition: 150ms ease;
}

.contributions-title {
  grid-area: titleContr;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  
}
.bio-title {
  grid-area: titleBio;
  display:flex;
  align-items:flex-start;
  
}

.author-bio {
  grid-area: bio;
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  padding:0 15px 0 15px;
}

.author-articles {
  grid-area: articleList;
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  padding:0 15px 0 15px;
}

.author-article-container {
  display:flex;
  flex-direction:column;
}

.author-articles hr {
  width: 100%;
  margin: 15px auto;
  height: 1px;
  overflow: hidden;
  border: none;
  background: var(--primary-color);
}

.author-articles-title {
  flex-wrap: wrap;
  flex-direction:row;
  align-items:center;
  align-self:flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  font-size: 20px;
  color: var(--font-color);
  border-bottom: 3px solid var(--highlight-color);
  box-shadow: inset 0 -4px 0 var(--highlight-color);
  background: transparent;
  transition: background 150ms ease;
}

.author-articles-title:hover {
  color: var(--primary-color);
}

.author-articles-descr {
  padding-top:20px;
  
}

.author-articles-date {
  padding:10px 0;
}

@media (max-width: 900px) { 
  
.author-container {
  max-width:600px;
  grid-template-columns: 1fr auto;
  grid-column-gap: 15px;}

}


@media (max-width: 750px) { 
  
.author-article-container {
  width:auto;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  border-radius: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.author-articles-title {
  font-size: 18px;
}
}

@media (max-width: 700px) { 
  
.author-container {
  margin:auto;
  grid-template-columns: auto;
  grid-template-areas:
  'name'
  'photo'
  'authDescr'
  'contact'
  'titleBio'
  'bio'
  'titleContr'
  'articleList';
}

.author-photo {
  display:flex;
  align-items:center;
  justify-content:center;
}

.author-name {
  display:flex;
  justify-content:center;
  align-items:center;
}

.contributions-title {
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.bio-title {
  display:flex;
  justify-content:center;
  align-items:center;
  
}


}

@media (max-width: 500px) { 
.logo-links {
  width:20px;
}

.author-container {
  width:auto;
  margin:0 10px 0 10px;
  font-size:13px;
  grid-template-columns: auto;
  grid-template-areas:
  'name'
  'photo'
  'authDescr'
  'contact'
  'titleBio'
  'bio'
  'titleContr'
  'articleList';
}

.author-photo {
  justify-content:center;
}

.author-name {
  justify-content:center;
  align-items:center;
}

.author-contact {
  justify-content:center;
  align-items:center;
}

.author-bio {
  grid-area:bio;
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
}

.author-articles {
  justify-content:flex-start;
  align-items:flex-start;
  word-wrap: break-word;
}

.author-article-container {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  border-radius: none;
  justify-content:flex-start;
  align-items:flex-start;
  border: none;
  box-shadow: none;
  padding: 0;
  margin:0;
}

.author-articles-title {
  font-size: 14px;
}


.bio-title {
  grid-area:titleBio;
  display:flex;
  justify-content:center;
  align-items:center;
}

.contributions-title {
  grid-area:titleContr;
  display:flex;
  justify-content:center;
  align-items:center;
  
}
  



}

@media (max-width: 300px) { 
.author-container {
  width:auto;
  font-size:11px;
}

.author-article-container {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  border-radius: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin:0;
}

.author-articles {
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
}

.author-articles-title {
  font-size: 13px;
}

.contributions-title {
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.bio-title {
  display:flex;
  justify-content:center;
  align-items:center;
  
}

}