.themes-container{
  display:flex;
  padding-top:100px;
  font-size: 25px;
  text-align: center;
  margin:0;  
}

.tags-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  font-size: 18px;
  justify-content: center;
  margin:0;
  color:var(--font-color);
}

.tags-container a:hover {
  color: var(--primary-color);
  transition: 150ms ease;  
  
}

.tag-box {
  display:flex;
  flex-direction:row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding-right:15px;
}

.tag-box p {
  margin:7px 0 7px 0;
}

.class-count {
  padding-left:5px;
}

.theme-title {
  padding-top:100px;
  font-size: 35px;
  text-align: center;
  margin:0;  
}

.tags-title {
  font-size: 35px;
  text-align: center;
  margin-top:0;
  text-decoration:underline;
}

.theme-title p {
  color: var(--heading-color);
}