.themes-container{
  display:flex;
  padding-top:100px;
  font-size: 25px;
  text-align: center;
  margin:0;  
}

.tags-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  font-size: 18px;
  justify-content: center;
  margin:0;
  color:var(--font-color);
}

.tags-container a:hover {
  color: var(--primary-color);
  transition: 150ms ease;  
  
}

.tag-box {
  display:flex;
  flex-direction:row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding-right:15px;
}

.tag-box p {
  margin:7px 0 7px 0;
}

.class-count {
  padding-left:5px;
}

.theme-title {
  font-size: 35px;
  text-align: center;
  margin:0;  
}

.theme-back {
  padding-top:100px;
  text-align: left;
  margin:0;  
}

.theme-back a {
  text-decoration:none;
}

.theme-back a:hover {
  color: var(--heading-color);
  text-decoration:underline;
  transition: 50ms ease;
}

.fa-arrow-left {
  padding-right:5px;
}

#theme-title-posts {
  
  padding-top:0;
}

.tags-title {
  padding-top:30px;
  text-align: left;
  margin-top:100px;
}

.theme-title p {
  color: var(--heading-color);
}


@media (max-width: 700px) {
  
.tags-title {
  text-align: center;
}
  
  
  }