{{ partial "header.html" . }}


<div class="author-container">
  
  {{ if .Params.photo }}
  <div class="author-photo">
    <img class="author-photo-frame" src="{{ .Params.photo }}">
  </div>
  {{ else }}
  <div class="author-photo">
    <img class="author-photo-frame" src="/images/authors/default-image.png">
  </div>
  {{ end }}
  

  <div class="author-name">
    <h1>{{ .Params.name }}</h1>
  </div>
  
  <div class="single-author-description"><p> {{ .Params.description }}</p></div>
  
  <div class="author-contact">
    <ul>
    {{ if .Params.email }}
      <li><a href="mailto:{{ .Params.email }}"><i class="fas fa-envelope logo-links"></i></a> Email : {{ .Params.email }}</li>
    {{ end }}
    {{ if .Params.linkedin }}
      <li><a href="{{ .Params.Linkedin }}" target="_blank"><img class="logo-links" src="/images/LInkedin.png"></a> Linkedin : <a href="{{ .Params.Linkedin }}" target="_blank">{{ .Params.Linkedin }}</a></li>
    {{ end }}
    {{ if .Params.github }}
      <li><a href="{{ .Params.github }}" target="_blank"><img class="logo-links dark--hidden" src="/images/github-light.png"><img class="logo-links light--hidden" src="/images/github-dark.png"></a> Github : <a href="{{ .Params.github }}" target="_blank">{{ .Params.github }}</a></li>
    {{ end }}
    {{ if .Params.website }}
      <li><a href="{{ .Params.website }}" target="_blank"><i class="fab fa-chrome logo-links"></i></a> Website : <a href="{{ .Params.website }}" target="_blank">{{ .Params.website }}</a></li>
    {{ end }}
    </ul>
  </div>
  
  <div class="author-bio">
    <h1>Bio</h1>
    {{ .Content }}
    <hr>
  </div>
 
  {{ if .Data.Pages }}
  <div class="author-articles">
    <h1>Contributions :</h1>
    {{ $pageCount := len .Pages }}
    <h2>Post{{ if ne $pageCount 1 }}s{{ end }} ({{ $pageCount := len .Pages }}
                    {{ $pageCount }})</h2>
    {{ range .Data.Pages }}
    <div class="author-article-container">
     
        <a href="{{ .Permalink }}"><span class="author-articles-title">{{ .Title }}</span></a>
        <div class="author-articles-date">{{ .Date.Format (i18n "summary-dateformat") }}<span class="archive-svg"><i class="far fa-calendar"></i></span></div>
        <div>{{ range (.GetTerms "categories") }}
          <i>{{ (i18n "theme") }} :</i>
          <a href="{{ .Permalink }}">{{ .LinkTitle }}</a><i class="far fa-folder-open archive-svg"></i>
          {{ end }}</div>
        <div class="author-articles-descr">{{ $params := .Params }}
        {{ with $params.Description }}
          {{ . }}
        {{ else }}
          {{ .Summary }}
        {{ end }}</div>
    </div>  
    <hr>
    {{ end }}
    
    {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}
