{{ partial "header.html" . }}



<div class="authors-list-cont">
  <h1 class="author-list-title"><i class="fas fa-chalkboard-teacher"></i> Our Contributors & Members :</h1>
  
      <div class="authors-list">
    {{ range .Data.Pages }}
      <div class="authors-list-indiv">
      {{ if .Params.photo }}
        <div class="author-photo-list">
          <a href="{{ .Permalink }}"><img class="author-photo-frame" src="{{ .Params.photo }}"></a>
        </div>
      {{ else }}
        <div class="author-photo-list">
          <a href="{{ .Permalink }}"><img class="author-photo-frame" src="/images/authors/default-image.png"></a>
        </div>
      {{ end }}
      <h3 class="authors-title"><a href="{{ .Permalink }}">{{ .Params.name }}</a></h3>
      <p class="authors-description"> {{ .Params.status }}</p>
      </div>
    {{ end }}
      </div>
  
</div>

{{ partial "footer.html" . }}
