{{ partial "header.html" . }}

<link rel="alternate" type="application/rss+xml" href="https://msc-data.tools/index.xml" title="Msc Data blog">

<main class="contentlist" role="main">

  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h1 class="article-title" id="hometitle">{{ .Title }}</h1>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  
  
  
  
    {{ $pages := .Pages }}
    {{ if .IsHome }}
      <h2 class="archive-title"><i class="far fa-newspaper"></i> Latest Posts :</h2>

    
{{ $pages := (where (where .Site.Pages "Type" "post") "IsPage" true) }}
{{ range first 2 $pages }}
<article class="archive-container">
      
      <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
      <div class="archive-info-cont">
        
        <div class="archive-date">{{ .Date.Format (i18n "summary-dateformat") }}<span class="archive-svg"><i class="far fa-calendar"></i></span></div>
      
        <div class="archive-readtime">{{ .ReadingTime }} {{ i18n "reading-time" }}<span class="archive-svg"><i class="far fa-clock"></i></span></div>
      
      {{range .Params.Authors }}
        <div><a href="{{ "authors/" | relLangURL }}{{ . | urlize }}">
        {{ . }}</a><i class="archive-svg fas fa-user-circle" aria-hidden="true"></i></div> 

      {{ end }}
      <div>{{ range (.GetTerms "categories") }}
          <i>{{ (i18n "theme") }} :</i>
          <a href="{{ .Permalink }}">{{ .LinkTitle }}</a><i class="far fa-folder-open archive-svg"></i>
          {{ end }}</div>
          
      </div>      
      

      <div class="archive-description">
        {{ $params := .Params }}

     
      {{ with $params.Description }}
        {{ . }}
      {{ else }}
        {{ .Summary }}
     {{ end }}
     
      </div>
      <div class="archive-tags-cont"> 
      <i class="fas fa-tags posts-tags-icon"></i>
    {{ range .Params.tags }}
      <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}"  class="archive-tags">
        {{ . }}
      </a>  
    {{ end }}
      </div>
      
 
    </article>
 
{{ end }}


{{ partial "mail-list.html" . }}


{{ end }}
</main>

{{ partial "footer.html" . }}

