{{ partial "header.html" . }}

<link rel="alternate" type="application/rss+xml" href="https://example.com/index.xml" title="Site Title">

<main class="contentlist" role="main">

  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h1 class="article-title" id="hometitle">{{ .Title }}</h1>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  
  
  
  
    {{ $pages := .Pages }}
    {{ if .IsHome }}
      <h2 class="archive-title">Latest Posts :</h2>
    {{ end }}

{{ range .Paginator.Pages }}
    <article class="archive-container">
      
      <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
        
      <div class="archive-info-cont">
        
        <div class="archive-date">{{ .Date.Format (i18n "summary-dateformat") }}<span class="archive-svg"><i class="far fa-calendar"></i></span></div>
      
        <div class="archive-readtime">{{ .ReadingTime }} {{ i18n "reading-time" }}<span class="archive-svg"><i class="far fa-clock"></i></span></div>
      
      {{range .Params.Authors }}
        <div><a href="{{ "authors/" | relLangURL }}{{ . | urlize }}">
        {{ . }}</a><i class="archive-svg fas fa-user-circle" aria-hidden="true"></i></div> 

      {{ end }}
      <div>{{ range (.GetTerms "categories") }}
          <i>{{ (i18n "theme") }} :</i>
          <a href="{{ .Permalink }}">{{ .LinkTitle }}</a><i class="far fa-folder-open archive-svg"></i>
          {{ end }}</div>
          
      </div>      
      

      <div class="archive-description">
        {{ $params := .Params }}

     
      {{ with $params.Description }}
        {{ . }}
      {{ else }}
        {{ .Summary }}
     {{ end }}
     
      </div>
      <div class="archive-tags-cont"> 
      <i class="fas fa-tags posts-tags-icon"></i>
    {{ range .Params.tags }}
      <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}"  class="archive-tags">
        {{ . }}
      </a>  
    {{ end }}
      </div>
      
 
    </article>
 
{{ end }}

      

{{ partial "paginator.html" . }}

{{ if .IsHome }}
<div class="all-posts-link-home">
    <a href="/post/"><i class="far fa-newspaper"></i>See All Posts...</a>
  </div> 
  
<hr> 

        <!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://wordpress.us19.list-manage.com/subscribe/post?u=6987aa930986ab444d60ebb09&amp;id=62851b8574" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2 class="subscribe-title">Subscribe to stay updated with our latest posts :</h2>
  <div><p class="signup-text">You can be notified if any new post is published. <br>It is completely private and you can unsubscribe anytime.</p></div>
<div class="mc-field-group">
	<div><i class="far fa-paper-plane"></i></div><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Example@gmail.com*">
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6987aa930986ab444d60ebb09_62851b8574" tabindex="-1" value=""></div>
    </div>
    <div><p class="signup-notice">Make sure to authorize our email : "campaign@msc-data.tools" <br> to avoid having it ending in spam folders</p></div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
    {{ end }}


</main>

{{ partial "footer.html" . }}

