{{ partial "header.html" . }}

<link rel="alternate" type="application/rss+xml" href="https://example.com/index.xml" title="Site Title">

<main class="contentlist" role="main">

  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h1 class="article-title" id="hometitle">{{ .Title }}</h1>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  
  
  
  
    {{ $pages := .Pages }}
    {{ if .IsHome }}
      <h2 class="archive-title">Latest Posts :</h2>
    {{ end }}

{{ range .Paginator.Pages }}
    <article class="archive-container">
      
      <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
        
      <div class="archive-info-cont">
        
        <div class="archive-date">{{ .Date.Format (i18n "summary-dateformat") }}<span class="archive-svg"><i class="far fa-calendar"></i></span></div>
      
        <div class="archive-readtime">{{ .ReadingTime }} {{ i18n "reading-time" }}<span class="archive-svg"><i class="far fa-clock"></i></span></div>
      
      {{range .Params.Authors }}
        <div><a href="{{ "authors/" | relLangURL }}{{ . | urlize }}">
        {{ . }}</a><i class="archive-svg fas fa-user-circle" aria-hidden="true"></i></div> 

      {{ end }}
      <div>{{ range (.GetTerms "categories") }}
          <i>{{ (i18n "theme") }} :</i>
          <a href="{{ .Permalink }}">{{ .LinkTitle }}</a><i class="far fa-folder-open archive-svg"></i>
          {{ end }}</div>
          
      </div>      
      

      <div class="archive-description">
        {{ $params := .Params }}

     
      {{ with $params.Description }}
        {{ . }}
      {{ else }}
        {{ .Summary }}
     {{ end }}
     
      </div>
      <div class="archive-tags-cont"> 
    {{ range .Params.tags }}
      <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}"  class="archive-tags">
        {{ . }}
      </a>  
    {{ end }}
      </div>
    </article>
 
{{ end }}

{{ partial "paginator.html" . }}

  <hr>

{{ if .IsHome }}

<div class="newsletter-container">
                <h4 class="newsletter-title">Subscribe</h4>
                <!-- <p class="newsletter-text"></p> -->
                <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=FeaturedTodayOnDataScienceForStudents', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Enter your email address:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="FeaturedTodayOnDataScienceForStudents" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /><p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p></form>
  </div>
  
  
      <h1 class="tags-title"><i class="fas fa-tags"></i>Tags :</h1>
      <div class="tags-container">
      {{ range .Site.Taxonomies.tags }}
        <div class="tag-box">
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><span class="class-count">({{ .Count }})</span>
        </div>
      {{ end }}
      </div>
    {{ end }}


</main>

{{ partial "footer.html" . }}



<!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->