
{{ partial "header.html" . }}
<div id="main">
<main class="content" role="main">
    
      {{ if .Params.toc }}
      <div  id="openBtn" onclick="openNav()"><span><i class="fa fa-list-ul" aria-hidden="true"></i><span id="openBtnlabel">Table of Content</span></span></div>
      
        <aside class="toc"id="mySidenav">
          <a href="javascript:void(0)" id="closebutnresponsive" onclick="closeNav()">&times;</a>
          {{ partial "table_of_contents.html" . }}
          <a href="javascript:void(0)" style="padding-top:120px;"></a>
        </aside>
      {{ end }}
    
  <article class="article">
    <div class="article-header-container">
    {{ if eq .Section "post" }}
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    {{ end }}

    <h1 class="article-title">{{ .Title }}</h1>

    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}
    
    <span class="article-author">{{range .Params.Authors }}
    <ul style="list-style-type:none;padding-left: 15px;">
      <li><a href="{{ "authors/" | relLangURL }}{{ . | urlize }}">{{ . }}</li></a>
    </ul>
    {{ end }}
    </span>
    
    {{ if .Params.Linkedin }}
    <span class="article-linkedin"><a href="{{ .Params.Linkedin }}" target="_blank"><img class="linkedin-logo" src="/images/LInkedin.png"></a></span>
    {{ end }}

    </div>
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

<hr>


<h2>A Post by : </h2>
<div class="Author-frame-article">
   {{ $author := print "/authors/" .Params.authorlink "_index.Rmd"}}
{{ with .GetPage $author }}

  {{ if .Params.photo }}
  <div class="Author-frame-article-photo">
    <img class="author-photo-frame" src="{{ .Params.photo }}">
  </div>
  {{ else }}
  <div class="Author-frame-article-photo">
    <img class="author-photo-frame" src="/images/authors/default-image.png">
  </div>
  {{ end }}
  
  <div class="Author-frame-article-text">
      <div class="Author-frame-article-name">
        {{ if .Params.name }}
        <h2><a href="{{ "authors/" | relLangURL }}{{ .Params.name | urlize }}">{{ .Params.name }}{{ end }}</a></h2>
      </div>
        {{ if .Params.description }}
      <div class="Author-frame-article-desc">
        <p> {{ .Params.description }}{{ end }}</p>
      </div>
      
      <div class="author-contact" id="Author-frame-article-contact">
        {{ if .Params.linkedin }}
          <div>
            <a href="{{ .Params.Linkedin }}" target="_blank"><img class="logo-links2" src="/images/LInkedin.png"></a>
        </div>{{ end }}
          
        {{ if .Params.github }}
          <div>
            <a href="{{ .Params.github }}" target="_blank">
              <img class="logo-links2 dark--hidden" src="/images/github-light.png">
              <img class="logo-links2 light--hidden" src="/images/github-dark.png"></a>
          </div>{{ end }}
        
        {{ if .Params.website }}
          <div>
            <a href="{{ .Params.website }}" target="_blank"><i class="fab fa-chrome logo-links2"></i></a>
          </div>{{ end }}
        {{ if .Params.email }}
          <div>
            <a href="mailto:{{ .Params.email }}"><i class="fas fa-envelope logo-links2"></i></a>
          </div>{{ end }}
      </div>
  
{{end}}
  </div>
</div>

<div>
  <h2 style="text-align:center;">Feel free to contact the author or leave a comment</h2>
  
</div>


<div class="article-comments dark--hidden">
{{ partial "utterances-light.html" . }}
</div>

<div class="article-comments light--hidden">
{{ partial "utterances-dark.html" . }}
</div>


</main>




 
 
{{ partial "footer.html" . }}

</div>