{{ partial "header.html" . }}

<main class="contentlist" role="main">

  
      <h2 class="tags-title"><i class="fas fa-tags"></i>Tags :</h2>
      <div class="tags-container">
      {{ range .Site.Taxonomies.tags }}
        <div class="tag-box">
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><span class="class-count">({{ .Count }})</span>
        </div>
      {{ end }}
      </div>
      
  <div class="theme-title" id="theme-title-posts">
    <h3><i class="far fa-newspaper"></i> All {{ .Title }} ({{ $pageCount := len .Pages }}
                    {{ $pageCount }})</h3></div>

{{ range .Paginator.Pages }}

<article class="archive-container">
      
      <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
      
      <div class="theme-cont">
        {{ range (.GetTerms "categories") }}
          <i>{{ (i18n "theme") }} :</i>
          <a class="archive-theme" href="{{ .Permalink }}">{{ .LinkTitle }}</a><i class="far fa-folder-open archive-svg"></i>
      {{ end }}
      </div>
      
      <div class="archive-tags-cont"> 
      <i class="fas fa-tags posts-tags-icon"></i>
    {{ range .Params.tags }}
      <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}"  class="archive-tags">
        {{ . }}
      </a>  
    {{ end }}
      </div>
      
      <div class="archive-description">
        {{ $params := .Params }}

     
      {{ with $params.Description }}
        {{ . }}
      {{ else }}
        {{ .Summary }}
     {{ end }}
     
      </div>
            
      <div class="archive-image">
        {{ $image := findRE "<img.*?>" .Content }}
        {{ $has_image := ge ($image) 0 }}
        {{ if $has_image }}
        {{ range first 1 $image }}
            <i>{{ . | safeHTML }}</i>
            {{ else }}
            <img src="/images/identicon/default.png" alt="default image of computer">
        {{ end }}
        {{ end }}
      </div>
      
      <div class="archive-info-cont">
        
        <div class="archive-date">
          {{ .Date.Format (i18n "summary-dateformat") }} - 
        <i class="archive-readtime">
          {{ .ReadingTime }} {{ i18n "reading-time" }}
          <span class="archive-svg">
            <i class="far fa-clock"></i>
            </span>
        </i>
          </div>

      {{ $secondAuthor := index (.Params.Authors) 1 }}
      
      <!--First author-->
      {{$firstAuthor := index (.Params.authorlink) 0 }}
      {{ $author := print "/authors/" $firstAuthor "_index.Rmd"}}
      {{ with .GetPage $author }}
        <div class="archive-author-name">
          {{ if .Params.name }}
            <a href="{{ "authors/" | relLangURL }}{{ .Params.name | urlize }}">{{ .Params.name }}{{ end }}</a>
            {{ if $secondAuthor }}
            <i> & </i>
            <a href="{{ "authors/" | relLangURL }}{{ $secondAuthor | urlize }}">{{ $secondAuthor }}{{ end }}</a>
        </div>
      
        {{ $author := print "/authors/" $firstAuthor "_index.Rmd"}}
          {{ with .GetPage $author }}

        {{ if .Params.photo }}
        <div class="Author-frame-archive-photo">
          <a href="{{ "authors/" | relLangURL }}{{ .Params.name | urlize }}"><img class="archive-photo-frame" src="{{ .Params.photo }}"></a>
        </div>
        {{ else }}
        <div class="Author-frame-archive-photo">
          <a href="{{ "authors/" | relLangURL }}{{ .Params.name | urlize }}"><img class="archive-photo-frame" src="/images/authors/default-image.png"></a>
        </div>
        {{ end }}
        {{ end }}

        

      {{ end }}
      
      </div> 
      
      
 
    </article>
 
{{ end }}

{{ partial "paginator.html" . }}



{{ partial "footer.html" . }}

