
      <footer class="footer">
        <ul class="footer-links">
          <li>All rights reserved - 2020</li>


        </ul>
      </footer>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
    
    
     <script>
  
    window.onscroll = function() {
    
    }
    
var prevScrollpos = window.pageYOffset;
//Get the button
var mybutton = document.getElementById("upBtn");

// When the user scrolls down 450px from the top of the document, show the button
window.onscroll = function() {scrollFunction();
  var currentScrollPos = window.pageYOffset;

      if (prevScrollpos > currentScrollPos) {
        document.getElementById("header").style.top = "0";
      } else {
        document.getElementById("header").style.top = "-200px";
      }

      prevScrollpos = currentScrollPos;
};

function scrollFunction() {

    if (document.body.scrollTop > 450 || document.documentElement.scrollTop > 450) {
      mybutton.style.display = "block";
      mybutton.style.opacity = '1';
    } else {
      mybutton.style.display = "none";
      mybutton.style.opacity = '0';
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<!--Function for sidenav-->
<script>

function openNav() {
    var a = window.innerWidth;
  if (a < 400) {
    document.getElementById("mySidenav").style.width = "100%"; 
  }
  document.getElementById("mySidenav").style.transform = "translateX(0)"; 
  document.getElementById("mySidenav").style.overflow = "auto"; 
  document.getElementById("mySidenav").style.left = "0"; 
  document.getElementById("main").style.transition= "0.3s ease";
  document.getElementById("nav").style.transition= "0.3s ease";
  document.getElementById("main").style.marginLeft = "320px";
  document.getElementById("nav").style.marginLeft = "320px";
  document.getElementById("openBtn").style.opacity = "0"; 
  document.getElementById("closebtn").style.opacity = "1"; 
  
}

function closeNav() {

  document.getElementById("mySidenav").style.transform = "translateX(-2500px)"; 
  document.getElementById("mySidenav").style.overflow = "hidden";  
  document.getElementById("main").style.transition= "0.3s ease";
  document.getElementById("nav").style.transition= "0.3s ease";
  document.getElementById("main").style.marginLeft= "0";
  document.getElementById("nav").style.marginLeft = "0";
  document.getElementById("openBtn").style.opacity = "1";  
  document.getElementById("closebtn").style.opacity = "0";  
}
  
</script>




<!--Function for sidemenu-->
<script>

function closeMen() {
  document.getElementById("wrapperResp").style.width = "0";
  document.getElementById("wrapperResp").classList.remove("borderMenu");
  document.getElementById("openBtnMenu").style.opacity = "1";
  document.getElementById("openBtn").style.display = "block";
}

function openMen() {
  var w = window.innerWidth;
  if (w > 400) {
      document.getElementById("wrapperResp").style.width = "300px";
      document.getElementById("wrapperResp").classList.add("borderMenu");
  } else {
      document.getElementById("wrapperResp").style.width = "100%";
  }

  document.getElementById("openBtnMenu").style.opacity = "0";
  document.getElementById("openBtn").style.display = "none";


}

</script>
  
  </body>
</html>
